@keyframes Mix_Animate{
    form{
        font-size:20px;
        background-color:yellowgreen;
        border-radius:5px;
        width:100px;
        height:100px;
    }
    to{
        font-size:40px;
        background-color:rgb(82, 200, 255);
        border-radius:20px;
        width:400px;
        height:400px;
    }
}
@keyframes h1Animate{
    form{
        color:rgb(54, 242, 255);
    border:2px solid black;
    border-radius:20px;
    text-align:center;
    background-color:tomato;
    }
    to {
    color:rgb(61, 139, 255);
    border:2px solid rgba(0, 0, 0, 0.687);
    border-radius:30px;
    text-align:center;
    background-color:rgb(255, 246, 71);
    height:100px;
    width:500px;
    text-align:center;
    align-self:center;
    }
}
h1{
    color:rgb(54, 242, 255);
    border:2px solid black;
    height:100px;
    width:200px;
    margin:0 auto;
    border-radius:20px;
    text-align:center;
    background-color:tomato;
    animation:h1Animate 2s linear 3s infinite alternate;
    animation-delay: 2s;
}
.box{
    width:8em;
    height:8em;
    border:2px solid black;
    text-align:center;
    /* display:flex;
    justify-content:center;
    align-items:center; */
    margin:0 auto;
    border-radius:20px;
    background-color:#ffeeaa;
    animation:Mix_Animate 3s linear 2s infinite alternate;
}