.box{
    width:100px;
    height:300px;
    border:2px solid black;
    border-radius:10px;
    margin:0 auto;
    justify-content:space-evenly;
    background-color:#efefaf;
    display:inline-block;

}
.one{
    background-color:#f57ff5;
    position:relative;
    top:50px;
    z-index:1;
}
.two{
    background-color:#cceaff;
    position:relative;
    top:50px;
    z-index:
}
.three{
    background-color:#ffabcd;
    position:relative;
    top:50px;
    z-index:2;

}
.four{
    background-color:yellowgreen;
    position:relative;
    top:50px;
    z-index:2;
}
.five{
    background-color:tomato;
    position:relative;
    top:50px;
    z-index:2;
}
.six{
    background-color:blue;
    position:relative;
    top:50px;
    z-index:2;
}
.box2{
    width:200px;
    height:200px;
    display:inline-block;
    background-color:aquamarine;
    border-radius:20px;
    position:relative;
    top:54px;
    left:80px;
    z-index:2;
    
}
.box3{
    width:200px;
    height:200px;
    display:inline-block;
    background-color:rgb(168, 183, 35);
    border-radius:20px;
    position:relative;
    z-index:1;
    top:80px;
    right:50px;
}