#div1{
    height: 50px;
    width:600px;
    /* border-width:4px;
    border-style:solid;
    border-color:aqua; */

    /* or */

    border:5px solid blanchedalmond;

    border-left:3px dashed red;
    border-right:3px dashed blue;
    border-top:3px solid green;
    border-bottom: 3px solid yellow;
    border-radius:40px;
    /* padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px; */
    /* or  */
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:0px;


}
#div2{
    height:100px;
    width:100px;
    border:5px solid brown;
    border-radius:50%;
    /* padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px; */
    padding:70px;

}
#div3{
    height:100px;
    width:100px;
    border:5px solid yellow;
    border-radius:10px 100px;
    padding:60px
}
#div4{
    height:100px;
    width:100px;
    border:5px solid green;
    border-radius:30px 200px 100px 30px;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:0px;
}
#button{
    height:50px;
    width:100px;
    border:3px solid rgb(77, 249, 46);
    border-radius:40px;

}
button{
    color:rgb(255, 145, 97);
    background-color:rgb(99, 87, 71);
}
button:hover{
    color:skyblue;
    background-color:rgb(67, 84, 48);
}